<div class="projectsContainer">

  <div class="leftDiv">

    <div class="generalTitle">
      <h3>{{activeProject.kind}}</h3>
    </div>

    <div class="projectsNameContainer">

      <div *ngFor="let project of projectsArray" [ngClass]="activeProject === project? 'proyectName active' : 'proyectName'" (click)="toggleProject(project)">
        <h3>{{project.nameOfProject}}</h3>
      </div>

    </div>

  </div>

  <div class="infoProjectContainer">
    <h2>{{activeProject.nameOfProject}}</h2>
    <h4>{{activeProject.info}}</h4>
    <a [href]="activeProject.url" target="_blank">Pagina Web</a>
    <div class="imagesProjectContainer"><div *ngFor="let image of activeProject.projectImages"><img [src]="image"></div></div>
  </div>


</div>
