header{
  position: fixed;
  width: 100%;
  background-color: rgba(0,253,114,1);
  font-family: 'VT323', monospace;
}

header h3 {
  display: inline-block;
  margin: 0 6.4%;
  padding: 0;
  font-size: 3vw;
}


nav {
  position: fixed;
  top: 90%;
  width: 100%;
  background-color: rgba(255,255,255,0.0);
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  width: 18.75%;

}


.menuItem {
   margin: 0;
   background-color: rgba(200,100,40,0.0);
   color: white;
   padding: 5% 0 5% 10%;
   font-family: 'Press Start 2P', monospace;
  font-size: 1vw;
 }

.activeMenu {
  color: black;
  background-color: rgba(255,255,255,1);
}

.menuItem:hover {
  color: black;
  background-color: rgba(255,255,255,1);
  cursor: pointer;
}



#espacioLI {
  margin: 0;
  width: 6.125%;
  border: none;
}

#lastItemDiv {
  position: absolute;
  top: 0;
  width: 12.5%;
  height: 100%;
  background: url("/assets/generalImages/correin-blanco.svg") no-repeat center;
}

#lastItemDiv:hover {
  background: rgba(255,255,255,1) url("/assets/generalImages/correin-negro.svg") no-repeat center;
}

.barraBlanca {
  position: absolute;
  width: 0.25%;
  height: 100%;
  top: 0;
  background-color: white;
}
