<header>
  <h3>{{seccionActual}}</h3><h3>{{descripcionSeccionActual}}</h3>
</header>

<nav>
  <ul>
    <li id="espacioLI"></li><li><div class="barraBlanca"></div><p class="menuItem" routerLink="/" routerLinkActive="activeMenu" [routerLinkActiveOptions]="{exact:true}">START</p></li><li><div class="barraBlanca"></div><p class="menuItem" routerLink="/about" routerLinkActive="activeMenu">ABOUT</p></li><li><div class="barraBlanca"></div><p class="menuItem" routerLinkActive="activeMenu" routerLink="/skills">SKILLS</p></li><li><div class="barraBlanca"></div><p class="menuItem" routerLinkActive="activeMenu" routerLink="/projects">PROJECTS</p></li><li><div class="barraBlanca"></div><div id="lastItemDiv"></div></li>
  </ul>
</nav>
