<div class="menuGeneralContainer">
<header>
  <h3>{{seccionActual}}</h3><h3>{{descripcionSeccionActual}}</h3>
</header>

<nav>
  <ul>
    <li id="espacioLI"></li><li><div class="barraBlanca"></div><p class="menuItem" routerLink="/welcome" routerLinkActive="activeMenu" [routerLinkActiveOptions]="{exact:true}">START</p></li><li><div class="barraBlanca"></div><p class="menuItem" routerLink="/REstORinG/ABoUT" routerLinkActive="activeMenu">ABOUT</p></li><li><div class="barraBlanca"></div><p class="menuItem" routerLinkActive="activeMenu" routerLink="/REstORinG/SkIlLs">SKILLS</p></li><li><div class="barraBlanca"></div><p class="menuItem" routerLinkActive="activeMenu" routerLink="REstORinG/ProJEcTs">PROJECTS</p></li><li><div class="barraBlanca"></div><a href="mailto:sky_karlos@hotmail.com"><div id="lastItemDiv"></div></a></li>
  </ul>
</nav>
</div>
