#grid {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255,255,200,0.0);
  z-index: 101;
  display: flex;
  flex-wrap: nowrap;
  pointer-events: none;
}

.divButoncitoFullScreen {
  position: absolute;
  top: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.butoncitoFullScreen {
  background: rgba(255,255,255,1);
  font-size: 2vw;
  font-family: 'Cutive Mono', monospace;
}


/*
.columna {
  width: 6%;
  height: 100%;
  margin-left: 0.125%;
  margin-right: 0.125%;
  background: rgba(255,200,255,0.1);
}
*/

