<app-background></app-background>

<app-menu></app-menu>
<div [hidden]="loading">
<router-outlet></router-outlet>
</div>


<app-three-component  [hidden]="!loading"></app-three-component>














<div id="grid">
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>

</div>

