<app-background></app-background>

<app-menu></app-menu>
<div [hidden]="loading">
<router-outlet></router-outlet>
</div>


<div [hidden]="!loading">
  <app-three-component></app-three-component>
</div>













<div id="grid">
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>

</div>

