<app-background></app-background>

<app-menu></app-menu>

<router-outlet></router-outlet>



<app-three-component></app-three-component>


<div class="app-loading" [hidden]="isFullScreen">
  <div class="superiorDiv"><h2>CARGANDO</h2></div>
  <div class="logo"></div>
  <div class="divButoncitoFullScreen"><button class="butoncitoFullScreen" (click)="clicki()">Enter</button></div>

</div>










<div id="grid">
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>
  <div class="columna">

  </div>

</div>

