.droneContainer {
  position: absolute;
  left: 10%;
  top: 15%;
  width: 80%;
  height: 70%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
}

.drone {
  margin: 1%;
  width: 100%;
  background-repeat:  no-repeat;
  background-size: contain;
  background-position: center;
  background-color: blue;
}
