.droneContainer {
  position: absolute;
  left: 10%;
  top: 15%;
  width: 80%;
  height: 70%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  background-color: red;
}

.imgContainer {
  background-color: blue;
  margin: 1%;
  width: 100%;
}

.drone {
  /*
  margin: 1%;
  */
  /*
  width: 100%;
  */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*
  background-repeat:  no-repeat;
  background-size: contain;
  background-position: center;
  background-color: blue;
  */
}
