.droneContainer {
  position: absolute;
  left: 10%;
  top: 15%;
  width: 80%;
  height: 70%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  background-color: red;
}

.imgContainer {
  background-color: blue;
  margin: 1%;
  width: 100%;
}

.drone {
  /*
  margin: 1%;
  */
  /*
  width: 100%;
  */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*
  background-repeat:  no-repeat;
  background-size: contain;
  background-position: center;
  background-color: blue;
  */
}

.aboutGeneralContainer {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.aboutGeneralContainer div p {
  font-size: 1.5vw;
  color: white;
  text-align: justify;
}

.personalText {
  margin: 1%;
}


.generalText {
  margin: 1%;
}
