
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&subset=cyrillic,cyrillic-ext,greek,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=VT323&subset=latin-ext');


body {
  margin: 0;
  padding: 0;
  font-family: 'Cutive Mono', monospace;
}
